*{
margin: 0% 0% 0% 0%;
padding: 0;
font-family: 'aileronthin', sans-serif;
/*font-family: 'Open Sans', sans-serif;*/
font-size:19px;
color: white;
}

@font-face {
    font-family: 'aileronthin';
    src: url('../common_assets/aileron-thin-webfont.woff2') format('woff2'),
         url('../common_assets/aileron-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html { 
  background: url(../common_assets/headerbackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 75%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

figure {
  float: right;
  width: 40%;
  height: 300px;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin-left: 15px;
  margin-bottom: 15px;
}
}

.body {
	min-width: 960px;
}

.master {

}

.titlecontent {
	padding: 25px;
	padding-bottom: 15px;
	min-height: 20px;
	font-size: 200%;
	
}

.headerwrapper {
}

.spacertop {
  min-height: 100px; 
}

.headercontent {
	min-height: 200px;
	min-width: 960px;
}

.headercolumnleft {
  min-height: 150px;
  float: left;
  width: 55%;
  text-align: justify;
}

.headercolumnright {
  min-height: 150px;
  float: left;
  width: 45%;
  text-align: left;
}

.profilepicturedescription {
	margin-top: 0px;
	padding-left: 25px;
	max-width: 400px; 
	float: right;
	padding-right: 25px;
}

.profilepicture {
	
}

.spacerbottom {
  min-height: 100px; 
}

.bodymain {
  min-height: 100%;
  /*background-color:#606060;*/
}

.aboutmecontent {
  text-align: center;
  border-radius: 5px;
  margin: auto;
  max-width: 960px;
  min-width: 960px;
  min-height: 500px;
  background: rgba(18, 18, 18, 0.8);
}

.skillsscontent {
  text-align: center;
  border-radius: 5px;
  margin: auto;
  max-width: 960px;
  min-width: 960px;
  min-height: 500px;
  background: rgba(18, 18, 18, 0.8);
}

.projectscontent {
  text-align: center;
  border-radius: 5px;
  margin: auto;
  max-width: 960px;
  min-width: 960px;
  min-height: 760px;
  background: rgba(18, 18, 18, 0.8);
}

.bodycontent {
  text-align: center;
  border-radius: 5px;
  margin: auto;
  max-width: 960px;
  min-width: 960px;
  min-height: 760px;
  background: rgba(18, 18, 18, 0.8);
}

.column {
	height: 100%;
  float: left;
  width: 50%;
  min-width:400px;
}

/* Clear floats after the columns */
.row:after {
  height: 100%;
  content: "";
  display: table;
  clear: both;
}

.zoom {
  padding: 1px;
  width: 90%;
  height: 0px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columnfill{
	flex: 4%;
	max-width: 4%;
    padding: 0;
}

.aboutmecolumn {
  margin-left:20px;
  height:470px;
  flex: 92%;
  max-width: 92%;
  padding: 0;
  text-align: justify;
}

.computingskillscolumn {
  height:150px;
  flex: 92%;
  max-width: 92%;
  padding: 0;
  text-align: justify;
}

.languagescolumn {
  height:140px;
  flex: 92%;
  max-width: 92%;
  padding: 0;
  text-align: justify;
}

.column2 {
  flex: 44%;
  max-width: 44%;
  padding: 0;
}

.column3 {
  flex: 92%;
  max-width: 92%;
  padding: 0;
  text-align: justify;
}

.column4 {
  flex: 92%;
  max-width: 92%;
  height:2870px;
  padding: 0;
  text-align: justify;
}

.column2 img {
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 1080px) {
  .column2 {
    flex: 100%;
    max-width: 100%;
  }
}*/

.projecttitle {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgb(128,128,128,0.8);
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom: 15px;
}

.video {
	overflow: hidden;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 50px;
}

.intro_title {
	font-size: 28px;
	font-family: 'aileronthin';
}

.section_title {
	font-size: 35px;
	border-bottom: 1px solid #FFFFFF;
	width: 100%;
	display: block;
}

.aileron_project_title {
	border-bottom: 1px solid #FFFFFF;
	font-size: 60px;
	font-family: 'aileronthin';
}

.aileron_project_subtitle {
	font-size: 28px;
	font-family: 'aileronthin';
}

.underline{

}

.footer {
  padding: 25px;
  text-align: center;
  height: 25px;
}